<?xml version="1.0" ?>
<config>
	<modules>
		<Activated_Slider>
			<version>1.0.0</version>
		</Activated_Slider>
	</modules>
	<global>
		<models>
			<slider>
				<class>Activated_Slider_Model</class>
				<resourceModel>slider_resource</resourceModel>
			</slider>
			<slider_resource>
				<class>Activated_Slider_Model_Resource</class>
				<entities>
					<slider>
						<table>activated_slider</table>
					</slider>
					<banner>
						<table>activated_banner</table>
					</banner>
					<reference>
						<table>activated_reference</table>
					</reference>
				</entities>
			</slider_resource>
		</models>
		<helpers>
			<slider>
				<class>Activated_Slider_Helper</class>
			</slider>
		</helpers>
		<blocks>
			<slider>
				<class>Activated_Slider_Block</class>
			</slider>
		</blocks>
		<resources>
			<slider_setup>
				<setup>
					<module>Activated_Slider</module>
					<class>Activated_Slider_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</slider_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<slider>
				<use>standard</use>
				<args>
					<module>Activated_Slider</module>
					<frontName>slider</frontName>
				</args>
			</slider>
		</routers>
		<layout>
			<updates>
				<slider>
					<file>activated_slider.xml</file>
				</slider>
			</updates>
		</layout> 
	</frontend>
	<admin>
		<routers>
			<slider>
				<use>admin</use>
				<args>
					<module>Activated_Slider</module>
					<frontName>slider</frontName>
				</args>
			</slider>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<slider>
					<file>activated_slider.xml</file>
				</slider>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<slider>
			<view>
				<enabled>1</enabled>
				<effect>fade</effect>
				<speed>5000</speed>
				<jquery>1</jquery>
			</view>
			<advanced>
				<navigation>0</navigation>
				<pauseOnHover>0</pauseOnHover>
			</advanced>
		</slider>
	</default>
</config>